@page
@model recipe_web.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="panel">
        <h1>Change Password</h1>
        <form method="post">
            <div class="form_input">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" required />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form_input">
                <label asp-for="NewPassword">New password</label>
                <input asp-for="NewPassword" type="password" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form_input">
                <label asp-for="ConfirmPassword">Confirm new password</label>
                <input asp-for="ConfirmPassword" type="password" required />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="button">Confirm</button>
        </form>
        <div class="login_footer">
            <p>Don't want to change your password? <br> <a asp-page="/Index">Homepage</a></p>
        </div>
    </div>
</div>