@page
@model recipe_web.Pages.EditProfileModel
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="message_container">
    <h2>Edit @Model.UserDTO.Username's Profile</h2>
</div>

<form method="post">
    <div class="form_input">
        <label asp-for="UserDTO.Username"></label>
        <input asp-for="UserDTO.Username" class="form-control" readonly />
    </div>
    <div class="form_input">
        <label asp-for="UserDTO.Email"></label>
        <input asp-for="UserDTO.Email" class="form-control" />
        <span asp-validation-for="UserDTO.Email" class="text-danger"></span>
    </div>
    <div class="form_input">
        <label asp-for="UserDTO.Caption"></label>
        <input asp-for="UserDTO.Caption" class="form-control" />
        <span asp-validation-for="UserDTO.Caption" class="text-danger"></span>
    </div>
    <div class="button-container">
        <button type="submit" class="button">Save</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}