@page
@model recipe_web.Pages.ErrorPageModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="message_container">
    <h2>Error</h2>
</div>

<div class="error-container">
    <p>@Model.ErrorMessage</p>
</div>

@section Styles {
    <style>
        .error-container p {
            margin-top: 10vh;
            margin-bottom: 10vh;
            color: white;
            text-align: center;
            font-size: 30px;
        }
    </style>
}
