@page
@model recipe_web.Pages.ForgottenPasswordModel
@{
	ViewData["Title"] = "Login";
	Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="panel">
        <h1>Forgotten Password</h1>
        <form method="post">
            <p>Enter your username to receive a verification link.</p>
            <div class="form_input">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" required />
                <span asp-validation-for="Email"></span>
            </div>
            <button type="submit" class="button">Confirm</button>
        </form>
        <div class="login_footer">
            <p>Don't have an account? <br> <a asp-page="/Register">Register</a></p>
        </div>
    </div>
</div>