@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/recipe.css" asp-append-version="true" />
</head>

<div class="message_container">
    <p>Welcome to our vibrant community of student chefs! <br> 
        Get ready to explore, share, and savor delicious recipes crafted by fellow students just like you. <br>
        Let's begin your culinary journey together!
    </p>
</div>

<h2>TRY OUT TOP 3 HIGHEST RATED RECIPES!!!</h2>