@page
@model recipe_web.Pages.RecipesModel
@{
	ViewData["Title"] = "Recipes";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="message_container">
    <h2>Recipes</h2>
</div>

<h3>under maintenance</h3>