@page
@model recipe_web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="panel">
        <h1>Register</h1>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form_input">
                <label asp-for="RegisterDTO.Username"></label>
                <input asp-for="RegisterDTO.Username" class="form-control" />
                <span asp-validation-for="RegisterDTO.Username" class="text-danger"></span>
            </div>
            <div class="form_input">
                <label asp-for="RegisterDTO.Email"></label>
                <input asp-for="RegisterDTO.Email" class="form-control" />
                <span asp-validation-for="RegisterDTO.Email" class="text-danger"></span>
            </div>
            <div class="form_input">
                <label asp-for="RegisterDTO.Password"></label>
                <input asp-for="RegisterDTO.Password" type="password" class="form-control" />
                <span asp-validation-for="RegisterDTO.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="button">Register</button>
        </form>
        <div class="login_footer">
            <p>You already have an account? <br> <a asp-page="/Login">Login</a></p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}