@page
@model recipe_web.Pages.ToDoListModel
@{
	ViewData["Title"] = "To Do List";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="message_container">
	<h2>Recipes</h2>
</div>

<h3>under maintenance</h3>