@page
@model recipe_web.Pages.ToDoListModel
@{
    ViewData["Title"] = "To-Do List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="message_container">
    <h2>Your To-Do List</h2>
</div>

@if (Model.ToDoList != null && Model.ToDoList.Count > 0)
{
    <ul class="todo-list">
        @foreach (var recipe in Model.ToDoList)
        {
            <li class="todo-item">
                <span>
                    <a asp-page="/RecipeDetails" asp-route-id="@recipe.GetIdRecipe()">@recipe.GetTitle()</a>
                </span>
                <span>
                    <form method="post" asp-page-handler="Remove" asp-route-id="@recipe.GetIdRecipe()">
                        <button type="submit" class="remove">Remove</button>
                    </form>
                </span>
            </li>
        }
    </ul>
}
else
{
    <p class="empty-list-message">Your To-Do list is empty.</p>
}