@page
@model recipe_web.Pages.UserProfileModel
@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
</head>

<body>
    <div class="message_container">
        <p><b>@Model.UserDto.Username's Profile</b></p>
    </div>

    <div class="profile_container">
        <img src="@(Model.ProfilePic?.ImagePath ?? "/images/profile_picture.jpg")" alt="Profile Picture" class="profile_picture">
        <div class="username"><b>@Model.UserDto.Username</b></div>
        <div class="description">@Model.UserDto.Caption</div>
        <div class="buttons_profile">
            <a class="button" href="/EditProfile">Edit</a>
            <a class="button" href="/ChangePassword">Change Password</a>
        </div>
    </div>
</body>
