@page
@model recipe_web.Pages.UserProfileModel
@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="message_container">
    <h2>@Model.UserDTO.Username's Profile</h2>
</div>

<div class="profile_container">
    <div class="username"><b>@Model.UserDTO.Username</b></div>
    <div class="description">@Model.UserDTO.Caption</div>
    <div class="buttons_profile">
        <a class="button" asp-page="/EditProfile">Edit</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}