<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - recipe_web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <li><a href="/userprofile">User Profile</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/forgottenpassword">Forgotten Password</a></li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <p>&copy; @DateTime.Now.Year - Student Recipe Sharing</p>
    </footer>
</body>
</html>