<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/favicon.png" />
</head>
<body>
    <header id="header_container">
        <img src="~/images/header.jpg" alt="header" class="header_img">
        <div class="header_heading">Student Recipe Sharing</div>
    </header>
    <nav id="nav_container">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/userprofile">User Profile</a></li>
            <li><a href="/mealprep">Meal Prep</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
    <div id="content_container">
        @RenderBody()
    </div>
    @if (!Context.Request.Cookies.ContainsKey("cookie_consent") && !Context.Request.HasFormContentType)
    {
        <div id="cookie-consent" class="cookie-consent">
            <div class="cookie-text">
                <p>This website uses cookies to ensure you get the best experience on our website.</p>
            </div>
            <div class="cookie-buttons">
                <form method="post">
                    <button type="submit" name="accept-cookies" class="accept-button">Accept</button>
                    <button type="submit" name="decline-cookies" class="decline-button">Decline</button>
                </form>
            </div>
        </div>
    }

    <footer id="footer_container">
        <a href="mailto:i.kalcheva@student.fontys.nl">Contact us</a><br>
        &copy; @DateTime.Now.Year - Student Recipe Sharing
    </footer>
</body>
</html>
