<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/login.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/cookies.css"/>
    <link rel="icon" type="image/png" href="~/images/logo.png"/>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    
    @if (!Context.Request.Cookies.ContainsKey("cookie-card") && !Context.Request.HasFormContentType)
    {
        <div id="cookie-popup" class="cookie-card">
            <span class="title">🍪 Cookie Notice</span>
            <p class="description">
                We use cookies to ensure that we give you <br>the best experience on our website.
            </p>
            <div class="actions">
                <button id="accept-btn" class="accept" type="button">Accept</button>
                <button id="decline-btn" class="pref" type="button">Decline</button>
            </div>
        </div>
    }

    <script src="~/js/cookies.js"></script>
</body>
</html>

@RenderSection("Scripts", required: false)
